spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/quickbooks_erp
    username: erp_app
    password: erp_app_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8081

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: INFO



